
importFrom("GenomicRanges","GRanges","GRangesList","seqnames","findOverlaps",
    "intersect","start","end","width","strand","mcols","start<-","end<-","mcols<-","ranges")
importFrom("Biostrings","getSeq","alphabetFrequency","DNAStringSet","consensusMatrix","PWMscoreStartingAt","reverseComplement","readDNAStringSet")
importFrom("RcppRoll","roll_mean","roll_sum")
importFrom("BiocParallel","bplapply","bpmapply","SerialParam","MulticoreParam","SnowParam")
importFrom("grDevices", "colorRampPalette", "heat.colors","as.raster","rainbow")
importFrom("RColorBrewer","brewer.pal")
importFrom("graphics", "axis", "box", "contour", "image", "lines",
    "par", "plot", "polygon", "rect", "text", "title","segments","legend",
    "rasterImage")
importFrom("methods", "new", "validObject","is")
importFrom("stats", "cor", "dgamma","sd","na.omit","median","ks.test",
    "quantile","runif")
importFrom("utils", "read.table","write.table","head","tail")
importFrom("IRanges","IRanges","tile")
importFrom("rtracklayer","import")
importFrom("S4Vectors","queryHits")
importFrom("ROCR","prediction","performance")
importFrom("GenomeInfoDb","seqlevels","dropSeqlevels","seqlevelsStyle","seqlevelsStyle<-")
importFrom("methods", "slot", "slot<-", "slotNames")

importMethodsFrom("methods", "initialize", "show")
importClassesFrom("GenomicRanges", "GRanges", "GRangesList", "CompressedGRangesList")
importClassesFrom("S4Vectors", "Hits")

export(
    "computeChIPProfile",
    "computeGenomeWideScores",
    "computeOccupancy",
    "computeOptimal",
    "computePWMScore",
    "evolve",
    "generateStartingPopulation",
    "genomicProfiles",
    "getHighestFitnessSolutions",
    "getTestingData",
    "getTrainingData",
    "initialize",
    "parameterOptions",
    "plotOccupancyProfile",
    "plotOptimalHeatMaps",
    "processingChIP",
    "profileAccuracyEstimate",
    "searchSites",
    "setChromatinStates",
    "show",
    "singleRun",
    "splitData"
)
exportMethods(
    "averageExpPWMScore",
    "backgroundSignal",
    "backgroundSignal<-",
    "boundMolecules",
    "boundMolecules<-",
    "BPFrequency",
    "BPFrequency<-",
    "chipMean",
    "chipMean<-",
    "chipSd",
    "chipSd<-",
    "chipSmooth",
    "chipSmooth<-",
    "DNASequenceLength",
    "drop",
    "lambdaPWM",
    "lambdaPWM<-",
    "loci",
    "lociWidth",
    "lociWidth<-",
    "maxPWMScore",
    "maxSignal",
    "maxSignal<-",
    "minPWMScore",
    "naturalLog",
    "naturalLog<-",
    "noiseFilter",
    "noiseFilter<-",
    "noOfSites",
    "noOfSites<-",
    "PFMFormat",
    "PFMFormat<-",
    "ploidy",
    "ploidy<-",
    "PositionFrequencyMatrix",
    "PositionFrequencyMatrix<-",
    "PositionWeightMatrix",
    "PositionWeightMatrix<-",
    "profiles",
    "PWMpseudocount",
    "PWMpseudocount<-",
    "PWMThreshold",
    "PWMThreshold<-",
    "removeBackground",
    "removeBackground<-",
    "scores",
    "stepSize",
    "stepSize<-",
    "strandRule",
    "strandRule<-",
    "whichstrand",
    "whichstrand<-"
)
exportClasses(
    "loci",
     "genomicProfiles",
     "genomicProfilesInternal",
     "parameterOptions",
     "ChIPScore",
     "GRList",
     "nos"
)
